{# app/Resources/JobsBundle/views/Job/new.html.twig #}
{% extends 'JobsBundle::layout.html.twig' %}
 
{# {% form_theme form _self %}
 
{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="error_list">
                {% for error in errors %}
                    <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %} #}
 
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
 
{% block content %}
    <h1>Job creation</h1>
    <form class="form-horizontal" action="{{ path('Sm_job_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        {{ form_rest(form) }}

        <input type="submit" class="btn btn-warning" value="Preview your job" />
        
    </form>
{% endblock %}